html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'open sans';
  margin-bottom: 100px;
}
.tip-separator {
  margin: 30px 0;
  height: 1px;
  background-color: #ccc;
  text-align: center;
}
.tip-separator span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  top: -0.5em;
}
.pt-container {
  margin: 0 auto;
  width: 800px;
}
.pt-heading {
  background: #ef4723;
  padding: 100px 0 40px 0;
}
.pt-heading h1 {
  font: 800 64px/64px 'open sans';
  color: #222;
  margin: 0 0 50px 0;
  text-align: center;
  text-transform: uppercase;
}
.pt-heading span {
  font: 400 60px/60px 'gentium book basic';
  font-style: italic;
  text-transform: none;
}
.pt-nav {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #bbb;
  height: 50px;
}
.pt-nav ul {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}
.pt-nav li {
  display: inline-block;
  list-style-type: none;
}
.pt-nav .pull-left li {
  padding-right: 20px;
}
.pt-nav .pull-right li {
  padding-left: 20px;
}
.pt-nav i {
  font-size: 25px;
}
.pt-hr {
  margin: 0 auto;
  width: 30%;
}
.pt-quote {
  padding: 0 20px;
}
.pt-quote h2 {
  font: 400 36px/1.4 'cardo';
  font-style: italic;
  margin: 0 0 20px 0;
  text-align: left;
  text-indent: -10px;
}
.pt-quote h3 {
  font: 400 36px/1.4 'cardo';
  margin: 0 0 20px 0;
  text-align: right;
  /*text-indent: -32px;*/
}
.pt-quote h3 em {
  font-style: italic;
}
.pt-post {
  padding-top: 50px;
}
.pt-author-avatar {
  text-align: center;
}
.pt-author-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.pt-post-title {
  font: 700 50px/50px 'lato';
  color: #222;
  margin: 0 0 30px 0;
  text-align: center;
}
.tip-post-category {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.tip-post-category li {
  display: inline-block;
  padding: 5px;
}
.pt-post-content {
  margin: 40px auto 0 auto;
  padding: 30px 0;
  width: 600px;
}
.pt-post-content code {
  background: none;
}
.pt-post-content pre,
.pt-post-content pre code {
  background: #fff;
}
.pt-comment {
  margin: 0 auto;
  padding-top: 50px;
  width: 600px;
}
.pt-footer {
  border-top: 1px solid #dfdfdf;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
.pt-footer .pt-container {
  padding: 30px 0;
}
