html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'open sans';
  margin-bottom: 200px;
}
iframe {
  border: none;
}
#carbonads {
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 180px;
  margin: 0;
  padding: 25px;
  font-size: 10px;
  z-index: 100;
}
#carbonads .carbon-text,
#carbonads .carbon-poweredby {
  display: block;
  color: #999;
  margin-top: 10px;
}
#carbonads .carbon-text:hover,
#carbonads .carbon-poweredby:hover {
  color: #08c;
  text-decoration: none;
}
.tip-hr {
  margin: 20px 0;
  border-top: 1px solid #ccc;
  height: 0;
}
.tip-list .tip-hr:last-child {
  border-top-color: transparent;
}
.tip-separator {
  border-bottom: 1px solid #d4d4d4;
  font-family: 'cardo';
  font-size: 20px;
  font-style: italic;
  line-height: .1em;
  margin: 20px auto 40px;
  text-align: center;
  width: 300px;
}
.tip-separator span {
  background: #fff;
  padding: 0 10px;
}
.tip-heading {
  background: #1ABC9C;
  color: #FFF;
  padding: 100px 0 40px 0;
  text-align: center;
}
.tip-heading h1 {
  font: 400 60px/60px 'gentium book basic';
  font-style: italic;
  margin: 0 0 20px 0;
}
.tip-heading h1 a,
.tip-heading h1 a:hover {
  text-decoration: none;
}
.tip-heading span {
  color: #eee;
  font: 800 50px/80px 'open sans';
  font-style: normal;
  text-transform: uppercase;
}
.tip-heading span.tip-cursor {
  border-left: 5px solid #fff;
  padding-left: 10px;
  width: 5px;
  -webkit-animation: blinker 1s linear infinite;
  -moz-animation: blinker 1s linear infinite;
  -ms-animation: blinker 1s linear infinite;
  -o-animation: blinker 1s linear infinite;
  animation: blinker 1s linear infinite;
}
.tip-heading a {
  color: #FFF;
}
.tip-heading p {
  font-family: 'cardo';
  font-size: 30px;
  font-style: italic;
}
.tip-subscribe {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}
.tip-subscribe form {
  margin: 0 auto;
  width: 350px;
  text-align: center;
}
.tip-subscribe button {
  background-color: #44b1f6;
  color: #fff;
}
.tip-subscribe button:hover {
  color: #fff;
}
.tip-nav {
  text-align: center;
  text-transform: uppercase;
  height: 50px;
}
.tip-nav ul {
  height: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
}
.tip-nav li {
  display: inline-block;
  list-style-type: none;
  padding: 0 10px;
}
.tip-nav .pull-left li {
  padding-right: 20px;
}
.tip-nav .pull-right li {
  padding-left: 20px;
}
.tip-nav i {
  font-size: 40px;
}
.tip-nav a {
  color: #e9e9e9;
}
.tip-quote {
  padding: 0 20px;
}
.tip-quote h2 {
  font: 400 36px/1.4 'cardo';
  font-style: italic;
  margin: 0 0 20px 0;
  text-align: left;
  text-indent: -10px;
}
.tip-quote h3 {
  font: 400 36px/1.4 'cardo';
  margin: 0 0 20px 0;
  text-align: right;
  /*text-indent: -32px;*/
}
.tip-quote h3 em {
  font-style: italic;
}
.tip {
  padding-top: 50px;
}
.tip-avatar {
  text-align: center;
}
.tip-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.tip-title {
  font: 700 50px/50px 'lato';
  color: #222;
  margin: 0 0 30px 0;
  text-align: center;
}
.tip-post-category {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.tip-post-category li {
  display: inline-block;
  padding: 5px;
}
.tip-content {
  margin: 40px auto 0 auto;
  padding: 30px 0;
}
.tip-content code {
  background: none;
}
.tip-content pre,
.tip-content pre code {
  background: #fff;
}
.tip-content h3 {
  font-weight: 700;
}
.tip-content h3 a {
  margin-left: 10px;
}
.tip-content blockquote {
  border-left: 5px solid #1ABC9C;
  font-family: 'cardo';
  font-size: 18px;
  font-style: italic;
  margin-left: -20px;
  padding-left: 15px;
}
.tip-content img {
  height: auto;
  max-width: 100%;
}
.tip-contributors {
  border-top: 1px solid #eee;
  padding: 0;
}
.tip-contributors li {
  border-bottom: 1px solid #eee;
  list-style-type: none;
  padding: 5px 0;
}
.tip-contributors li img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.tip-pagination {
  margin-bottom: 40px;
  width: 100%;
  float: left;
}
.tip-pagination a,
.tip-pagination span {
  display: block;
  float: left;
  width: 50%;
  padding: 15px 0;
  text-align: center;
  font-size: 18px;
}
.tip-pagination span {
  color: #bfbfbf;
}
.tip-pagination a:hover {
  background-color: #44b1f6;
  text-decoration: none;
  color: #fff;
  border-color: #44b1f6;
}
.tip-pagination .tip-pagination-older {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.tip-pagination .tip-pagination-newer {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #e5e5e5;
}
.tip-btn-edit {
  background-color: #44b1f6;
  color: #fff;
}
.tip-btn-edit:hover {
  color: #fff;
}
.tip-following {
  font-family: 'cardo';
  font-size: 25px;
  font-style: italic;
  padding: 20px 0;
  text-align: center;
}
.tip-following img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
.tip-sharing {
  list-style-type: none;
  padding: 20px 0;
  text-align: center;
}
.tip-sharing li {
  display: inline;
  padding: 0 10x;
}
.tip-comment {
  border-top: 1px solid #ddd;
  margin: 0 auto;
  padding: 20px 0 40px 0;
}
.tip-footer {
  border-top: 1px solid #dfdfdf;
  text-align: center;
  position: absolute;
  padding-top: 30px;
  bottom: 0;
  width: 100%;
  height: 200px;
}
.tip-footer ul {
  padding: 0;
}
.tip-footer li {
  display: inline;
  list-style-type: none;
  padding: 0 10px;
}
.tip-footer .tip-container {
  padding: 30px 0;
}
@-moz-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
@keyframes blinker {
  0% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  100% {
    opacity: 1.0;
  }
}
