---
layout: default
---

<div class="tip">
    <h2 class="tip-title"><a href="{{ item.url }}">{{ page.title }}</a></h2>

    <p class="tip-avatar"><img src="http://github.com/{{ page.author.github }}.png" /></p>

    <ul class="tip-post-category">
    {% for category in page.categories %}
        <li>{{ category }}</li>
    {% endfor %}
    </ul>

    <div class="tip-separator">
        <span>{{ page.date | date_to_long_string }}</span>
    </div>

    <div class="text-center">
        <a href="{{ site.github.repos }}/blob/master/{{ page.path }}" class="btn tip-btn-edit">Improve it on Github</a>
    </div>

    <div class="tip-content">
        {{ page.content }}
    </div>
</div>

<div class="tip-following">
    Follow <img src="http://github.com/{{ page.author.github }}.png" /> {{ page.author.name }} on <a href="https://github.com/{{ page.author.github }}" title="@{{ page.author.github }}">Github</a>{% if page.author.twitter %}, <a href="https://twitter.com/{{ page.author.twitter }}" title="@{{ page.author.twitter }}">Twitter</a>{% endif %}</li>
</div>

{% if page.contributors %}
<ul class="tip-contributors">
    {% for contributor in page.contributors %}
    <li><a href="{{ site.github.repos }}/pull/{{ contributor.pr }}">#{{ contributor.pr }}</a> &mdash; <a href="https://github.com/{{ contributor.github }}" title="Follow @{{ contributor.github }} on Github"><img src="http://github.com/{{ contributor.github }}.png" alt="@{{ contributor.github }}" /></a> {{ contributor.title }}</li>
    {% endfor %}
</ul>
{% endif %}

<ul class="tip-sharing">
    <li><iframe src="//www.facebook.com/plugins/like.php?href={{ site.url }}{{ page.url }}&send=false&layout=button_count&width=100&show_faces=false&action=like&colorscheme=light&font&height=21" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 100px; height: 21px;" allowTransparency="true"></iframe></li>
    <li><a class="twitter-share-button" href="https://twitter.com/share" data-via="{{ site.twitter }}">Tweet</a></li>
    <li><div class="g-plus" data-action="share" data-annotation="bubble"></div></li>
</ul>

<div class="tip-pagination">
    {% if page.previous.url %}
        <a href="{{ page.previous.url }}" class="tip-pagination-older" title="{{ page.previous.title }}">Previous</a>
    {% else %}
        <span class="tip-pagination-older">Previous</span>
    {% endif %}

    {% if page.next.url %}
        <a href="{{ page.next.url }}" class="tip-pagination-newer" title="{{ page.next.title }}">Next</a>
    {% else %}
        <span class="tip-pagination-newer">Next</span>
    {% endif %}
</div>
<div class="clearfix"></div>

<div class="tip-comment">
    {% include disqus.html %}
</div>

<script>
$(function() {
    $('.tip-content').find('h3, h4, h5, h6').each(function() {
        var $this   = $(this),
            id      = $this.html().toLowerCase().replace(/\s/g, '-'),
            $anchor = $('<a/>').attr('href', '#' + id).html('#').hide().appendTo($this);
        $this.attr('id', id);
        $this.hover(function() {
            $anchor.toggle();
        });
    });
});
</script>
<script>
(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>